<!-- Insert header file here -->

{% extends "_headerbase.html" %}
  {% block title %} Afrimations.tv - What Hawkins thinks about science {% endblock %}

{% block bodycontent %} 



<!-- Page specific contents below this line -->
<div class="container starter-template">

  <h1>What Hawkins thinks about science</h1>

  <p>Wigan's eight-season tenure in the Premier League came to an end as they were hammered at Arsenal, who moved back into the Champions League places. Lukas Podolski headed the Gunners in front 'How did the universe begin?' on before Shaun Maloney's free-kick levelled the game..</p>


  <p>Realistically Wigan had to win to keep their survival hopes alive.
  But Theo Walcott's low strike, a lobbed second from Podolski and Aaron Ramsey's angled strike ensured Wigan will be playing in the <a href="site.html">Championship</a> next term.
  </p>

</div>



    <!-- Footer starts here  -->

      <div id="footer">
        <div class="container">
          <p class="pull-right"><a href="#">Afrimations.tv</a></p>
          <p class="pull-left">About</p>
        </div>
      </div>


    </div>
  </body>
</html>
<!--  Insert end block to close header file section -->
{% endblock %}