{% extends "_headerbase.html" %}
  {% block title %} Login - Afrimations.tv {% endblock %}

{% block bodycontent %} 


<div class="container starter-template">
	<h1>{{greetn}}</h1>
	<h3> You are now successfully logged in. </h3>
</div>	



    <!-- Footer starts here  -->

      <div id="footer">
        <div class="container">
          <p class="pull-right"><a href="#">Afrimations.tv</a></p>
          <p class="pull-left">About</p>
        </div>
      </div>


    </div>
  </body>
</html>
<!--  Insert end block to close header file section -->
{% endblock %}


