<!-- Insert header file here -->

{% extends "_headerbase.html" %}
  {% block title %} Afrimations.tv - Everton Denied Arsenal Lead {% endblock %}

{% block bodycontent %} 



<!-- Page specific contents below this line -->
<div class="container starter-template">
  <h1>Everton Denied Arsenal Lead</h1>
  <p>Substitute Gerard Deulofeu's late strike earned Everton a draw and denied <a href="topics.html">Arsenal</a> a seven-point lead at the top of the Premier League.</p>
  <p>The 19-year-old smashed past Wojciech Szczesny from inside the box to cancel out Mesut Ozil's close-range finish.
  </p>
</div>






    <!-- Footer starts here  -->

      <div id="footer">
        <div class="container">
          <p class="pull-right"><a href="#">Afrimations.tv</a></p>
          <p class="pull-left">About</p>
        </div>
      </div>


    </div>
  </body>
</html>
<!--  Insert end block to close header file section -->
{% endblock %}